{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>

<script>
    $(document).ready( function() {
    window.chat = {};
    //Instantiate a websocket client connected to our server
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:23316/ws");
 
    //Basic message send
    chat.send = function (message) {
      chat.ws.send("{\"action\": 1, \"message\":\"" + message + "\"}");
    }
 
    //Basic message receive
    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;
      var message = JSON.parse(messageFromServer);
      var list_element = document.createElement('li');
      list_element.innerHTML = message.message;
      $("#message_list").append(list_element);
    };

    var inputBox = document.getElementById("inputbox");
 
    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }
 
      //keyCode 13 is the enter/return button keyCode
      if (e.keyCode == 13) {
        // enter/return probably starts a new line by default
        e.preventDefault();
        chat.send(inputbox.value);
        inputbox.value="";
      }
    }, false); 

    // Log into chat service
    chat.login = function() {
      chat.ws.send("{\"entity_type\":{{ info.entity_type }}, \"action\": 0, \"id\": {{ info.id }}, \"name\": \"{{ info.name }}\"}")
    };

  });
</script>
{% endblock head %}

{% block body %}

<h1>Chat Room</h1>
<input type="text" id="inputbox">
<button onclick="chat.login()" class="btn btn-info">Login</button>
<div id="message_list"></div>
{% endblock body %}

