{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>

<script>
    $(document).ready( function() {
    window.chat = {};
    //Instantiate a websocket client connected to our server
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:23316/ws");
    establish_connection();
 
    //Basic message send
    chat.send = function (message) {
      chat.ws.send("{\"action\": 1, \"message\":\"" + message + "\"}");
    }
 
    //Basic message receive
    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;
      var message = JSON.parse(messageFromServer);
      var list_element = document.createElement('li');
      if (message.name) {
        list_element.innerHTML = message.name + ": " + message.message;
      }else {
        list_element.innerHTML = message.message;
      }
      $("#message_list").append(list_element);
    };

    var inputBox = document.getElementById("inputbox");
 
    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }
 
      //keyCode 13 is the enter/return button keyCode
      if (e.keyCode == 13) {
        // enter/return probably starts a new line by default
        e.preventDefault();
        chat.send(inputbox.value);
        inputbox.value="";
      }
    }, false); 

    function establish_connection() {
      // Wait until state of socket is ready
      waitForSocketConnection(chat.ws, function() {
        chat.ws.send("{\"entity_type\":{{ info.entity_type }}, \"action\": 0, \"id\": {{ info.id }}, \"name\": \"{{ info.name }}\"}");
      });
    }

    function waitForSocketConnection(socket, callback) {
      setTimeout(
        function () {
          // If connection has been made
          if (socket.readyState === 1) {
            if (callback != null) {
              callback();
            }
            return;
          } else {
            // Wait for connection
            waitForSocketConnection(socket, callback);
          }
        }, 5
      );
    }

  });
</script>
{% endblock head %}

{% block body %}

<h1>Chat Room</h1>
<input type="text" id="inputbox">
<div id="message_list"></div>
{% endblock body %}

