.backgroundImageEmployee {
	background-image: url('../Shield/assets/img/CityBridge.jpg');
}

/*.nav-container{
overflow:hidden;
white-space: nowrap;
}*/

/* top bar texts changes color when you hover over it*/
/*.navbar-color > li > a:hover {
    color:#3498db;
}
*/
/*top bar text colors*/
/*.navbar-custom-color > li > a {
    color:white;
    font-style: bold;
    font-weight: 400;
} */   


.navbar-form-right {
  float: right;
  width: -300px;
  right: 50px;
  position: absolute;
}

.form-size {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 30px;

}
