{% extends "main/base_info.html" %}

{% load staticfiles %}

{% block title %}Employee Login{% endblock title%}

{% block extra_stylesheets %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<meta charset="UTF-8">        	
       
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
    <link href="{% static 'AdminLTE-master/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'AdminLTE-master/css/font-awesome.min.css' %}" rel="stylesheet">
        
    <link href="{% static 'AdminLTE-master/css/AdminLTE.css' %}" rel="stylesheet">

    
{% endblock extra_stylesheets %}



{% block class %}<body class="backgroundImageEmployee" data-spy="scroll" data-offset="0" data-target="#navbar-main">{% endblock class %}

{% block headerwrap %}{% endblock headerwrap %}

{% block extra_list %} 
	<div class="navbar-collapse collapse navbar-form-right">
		<form class="navbar-form pull-right" role="form" action="" method="post">
			<div class="form-group">
				<input type="text" placeholder="Username" class="form-control form-size form-inline" name="username" required>
				<input type="password" placeholder="Password" class="form-control form-size form-inline" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary btn-sm">Login</button>
		</form>
	</div>
{% endblock extra_list %}


{% block extra_body %}

	<div class="form-box bg-black form-center" id="login-box">
	    <div class="header">Register New Membership</div>
	        <form action="../../index.html" method="post">
		    <div class="body bg-gray">
		        <div class="form-group">
		            <input type="text" name="name" class="form-control" placeholder="Full name"/>
		        </div>
		        <div class="form-group">
		            <input type="text" name="userid" class="form-control" placeholder="User ID"/>
		        </div>
		        <div class="form-group">
		            <input type="password" name="password" class="form-control" placeholder="Password"/>
		        </div>
		        <div class="form-group">
		            <input type="password" name="password2" class="form-control" placeholder="Retype password"/>
		        </div>
			</div>
			<div class="footer">                    
				<button type="submit" class="btn bg-blue btn-block">Sign me up</button>
			</div>
	        </form>
		</div>
	</div>

</body>

{% endblock extra_body %} 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>




